{% extends "base.html" %}

{% block content %}

  <h1>Snippendrop</h1>

  <h2>Your projects:</h2>
  <div class="projects">
    <ul>
      {% for project in projects %}
        <li><a href="/project/{{ project.name }}">{{ project.name }}</a></li>
      {% else %}
        <li>You have no projects.</li>
      {% endfor %}
    </ul>
  </div>

  <h2>Create a new project:</h2>
  <form method="post" action="/rpc/new_project">
    <p>
      {{ new_project_form.name }}
      <button>Create</button>
    </p>
  </form>

  <script type="text/javascript">
    $('form').submit(function() {
      $(this).ajaxSubmit({
        success: function(data, status, xhr) {
          if (data.error) {
            alert(data.error);
          } else {
            var el = $('.projects');
            var li = el.find('ul').append('<li/>');
            li.append($('<a/>').attr('href', '/project/' + data.key).text(data.name));
            console.dir(data);
          }
        },
      });
      return false;
    });
  </script>

{% endblock %}
