{% extends "base.html" %}

{% block content %}

  <h1>Snippendrop</h1>

  <h2>Your projects:</h2>
  <div class="projects">
    You have no projects. Why not add one?
  </div>

  <h2>Create a new project:</h2>
  <form class="new-project">
    <p>
      {{ new_project_form.name }}
      <button>Create</button>
    </p>
  </form>

  <script type="text/javascript">

  /* MODELS --------------------------------------------------------------- */

  var Project = Backbone.Model.extend({
    url: function() {
      return this.id ? '/rest/projects/' + this.id : '/rest/projects';
    },
    viewUrl: function() {
      return '/project/' + this.id;
    }
  });

  var Projects = Backbone.Collection.extend({
    model: Project,
    url: '/rest/projects'
  });

  var projects = new Projects();

  /* CONTROLLERS ---------------------------------------------------------- */

  projects.bind('add', function(project) {
    if (!$('.projects ul').length) {
      $('.projects').empty().append('<ul/>');
    }
    var template = '<li><a href="{\{ url }\}">{\{ name }\}</a></li>';
    var context = {url: project.viewUrl(), name: project.get('name')};
    var el = $(Mustache.to_html(template, context)).hide();
    $('.projects ul').append(el.fadeIn());
  });

  {% for obj in projects %}
  projects.add({{ obj.to_dict()|tojson|safe }});
  {% endfor %}

  /* EVENTS---------------------------------------------------------------- */

  $('form.new-project button').click(function() {
    var input = $('#name');
    var name = input.val();
    if (name) {
      projects.create({name: name});
    }
    input.val('');
    return false;
  });

  </script>

{% endblock %}
