{% extends "base.html" %}

{% block content %}

  <h1>{{ project.name }}</h1>

  <button class="new-snippet">New snippet</button>

  <div class="snippets">
    {% for snippet in snippets %}
      <div class="snippet" data-key="{{ snippet.key().name() }}">
        {{ snippet.content }}
      </div>
    {% endfor %}
  </div>

  <script type="text/javascript">
    var project_id = {{ project.key().id()|tojson|safe }};
    var snippets = make_snippet_collection(project_id);

    $('button.new-snippet').click(function() {
      $.post('/rpc/new_snippet', {key: project_key}, function(data) {
        $('<div class="snippet"/>')
          .appendTo('.snippets')
          .data('key', data.key)
          .text(data.content);
      });
      return false;
    });

    $('div.snippet').live('mouseover', function() {
      var snippet = $(this);
      if (snippet.data('close-button')) return;

      var icon = $('<div class="close-icon"/>')
        .hide()
        .appendTo('body')
        .css({
          position: 'absolute',
          top: snippet.offset().top,
          left: snippet.offset().left + snippet.width(),
        })
        .fadeIn()
        .click(function() {
          var data = {
            snippet_key: snippet.data('key'),
            project_key: project_key,
          };
          $.post('/rpc/delete_snippet', data, function(data) {
            icon.remove();
            snippet.remove();
          });
          return false;
        });
      snippet.data('close-button', icon);
    }).live('mouseout', function() {
      var snippet = $(this);
      var icon = snippet.data('close-button');
      if (!icon) return;
      icon.fadeOut(function() {
        icon.remove();
        snippet.removeData('close-button');
      });
    });

    $('div.snippet').live('click', function() {
      var snippet = $(this);
      var snippet_key = snippet.data('key');
      var text = snippet.text().replace(/^\s+|\s+$/g, '');
      var editor = $('<textarea/>').text(text).addClass('snippet');
      snippet.replaceWith(editor);
      editor.focus();
      editor.blur(function() {
        var data = {
          snippet_key: snippet_key,
          project_key: project_key,
          content: editor.val(),
        };
        $.post('/rpc/edit_snippet_content', data, function(data) {
          // TODO: Markdown
          snippet.text(editor.val()).data('key', snippet_key);
          editor.replaceWith(snippet);
          editor.remove();
        });
      });
    });

    </script>

{% endblock %}
