<!doctype html>
<html>
  <head>
    <title>{% block title %} Snippendrop {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
    <link rel="shortcut icon" href="/static/logo.png"/>
    <script src="/static/modernizr-1.6.js" type="text/javascript"></script>
    <script src="/static/jquery-1.5.js" type="text/javascript"></script>
    <script src="/static/jquery.event.drag-2.0.js" type="text/javascript"></script>
    <script src="/static/jquery.event.drop-2.0.js" type="text/javascript"></script>
    <script src="/static/underscore-1.1.4.js" type="text/javascript"></script>
    <script src="/static/backbone-0.3.3.js" type="text/javascript"></script>
    <script src="/static/showdown-20091129.js" type="text/javascript"></script>
    <script src="/static/main.js" type="text/javascript"></script>
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>
