{% extends "base.html" %}

{% block content %}

  <h1>{{ project.title }}</h1>

  <p><button class="new">New snippet</button></p>

  <div id="snippet-editor"></div>

  <script type="text/javascript">
    $(function() {
      var project = new App.Model.Project({{ project.to_dict()|tojson|safe }});
      var snippets = project.snippets();
      snippets.fetch({
        // TODO: Make inline.
        success: function(snippets, response) {
          var editor = new App.View.SnippetEditor({
            el: $('#snippet-editor'),
            project: project
          });
          $('button.new').click(editor.createSnippet);
        },
        error: function(snippets, response) {
          alert('There was an error while loading the project.');
        },
      });
    });
  </script>

  <script type="text/template" class="snippet-template header">
    <h2><%= title %></h2>
  </script>

  <script type="text/template" class="snippet-template text">
    <%= content %>
  </script>

{% endblock %}
