{% extends "base.html" %}

{% block content %}

  <h1>{{ project.title }}</h1>

  <script type="text/template" id="project-list-item">
    <a href="#" class="open"><%= title %></a>
    (<a href="#" class="delete">X</a>)
  </script>

  <script type="text/template" id="header-snippet">
    <div class="snippet">
      <h2><%= title %></h2>
    </div>
  </script>

  <script type="text/template" id="text-snippet">
    <div class="snippet">
      <%= content %>
    </div>
  </script>

  <script type="text/javascript">
    $(function() {
    });
  </script>

{% endblock %}
