{% extends "base.html" %}

{% block content %}

  <h1>Welcome to Snippendrop</h1>

  <h2>Your projects:</h2>

  <ul id="list">
    <li class="empty-message">You have no projects. Why not add one?</li>
  </ul>

  <h2>Create a new project:</h2>

  <form><p>
    {{ form.title.label }}:
    {{ form.title() }}
    <button class="new-project">New project</button>
  </p></form>

  </div>

  <script src="/static/main.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(function() {
      var projects = new App.Collection.Projects();
      new App.View.ProjectList({el: $('#list'), projects: projects});

      {% for obj in projects %}
      projects.add({{ obj.to_dict()|tojson|safe }});
      {%- endfor %}

      $('form').submit(function() {
        var title = $('input[name=title]').val();
        if (title == '') {
          alert("Please enter a project title.");
          return;
        }

        if (projects.create({title: title})) {
          $('input').val('');
        } else {
          alert("An error occurred.");
        }
        return false;
      });
    });
  </script>

  <script type="text/template" id="item-template">
    <a href="/project/<%= id %>"><%= title %></a>
    (<a href="#" class="delete">X</a>)
  </script>

{% endblock %}
