{% extends "base.html" %}

{% block content %}

  <h1>Welcome to Snippendrop</h1>

  <h2>Your projects:</h2>

  <ul id="list">
    <li class="message">You have no projects. Why not add one?</li>
  </ul>

  <h2>Create a new project:</h2>

  <p>
    {{ form.title.label }}:
    {{ form.title() }}
    <button class="new-project">New project</button>
  </p>

  </div>

  <script src="/static/main.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(function() {
    });
  </script>

  <script type="text/template" id="project-list-item">
    <a href="#" class="open"><%= title %></a>
    (<a href="#" class="delete">X</a>)
  </script>

{% endblock %}
