{% extends "base.html" %}

{% block content %}

  <h1>Snippendrop</h1>

  <h2>Your projects:</h2>
  <div class="projects">
    You have no projects. Why not add one?
  </div>

  <h2>Create a new project:</h2>
  <p>
    {{ new_project_form.name }}
    <button class="new-project">New project</button>
  </p>

  <script type="text/template" id="project-template">
    <a href="<%= getUrl() %>"><%= name %></a>
    (<a href="#" class="delete-project" data-id="<%= id %>">X</a>)
  </script>

{% endblock %}
