@import url('http://fonts.googleapis.com/css?family=Arvo:regular,bold');

body {
    font-family: sans-serif;
    background: #ccc url('bg.png');
}

h1 {
    font-family: 'Arvo', serif;
    text-shadow: #fff 0px 1px 0px;
}

textarea {
    font-size: 100%;
}

#snippet-editor {
    height: 60%;
}

.snippet {
    background: #fff;
    border: 1px solid #C5C5C5;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
}
.snippet:hover {
    -webkit-box-shadow: 0 1px 5px #ff0;
}
.snippet .viewer, .snippet .editor {
    padding: 10px;
    margin: 0;
}
.snippet .viewer {
    cursor: pointer;
}
.snippet .editor {
    width: 100%;
    border: none;
    display: block;
    -webkit-box-shadow: 0 0 0 #fff;
}
.snippet .editor:focus {
    outline: none;
}
.snippet.dragging {
    opacity: 0.5;
    -webkit-opacity: 0.5;
}

.close-icon {
    width: 16px;
    height: 16px;
    background: transparent url(close.png) top left no-repeat;
    cursor: pointer;
}

.error {
    color: red;
}

.snippet.drop-target {
    outline: 5px solid green;
}
