@import url('http://fonts.googleapis.com/css?family=Arvo:regular,bold');

body {
    font-family: sans-serif;
}

h1 {
    font-family: 'Arvo', serif;
}

.snippet {
    border: 1px solid #666;
    padding: .5em;
    width: 20%;
}

.close-icon {
    width: 16px;
    height: 16px;
    background: transparent url(close.png) top left no-repeat;
    cursor: pointer;
}
